@import "../../../style/header.css";

.westaLoginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: white;
}

.westaLoginForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 30px 20px;
  border-radius: 8px;
  box-shadow: 4px 4px 8px 1px rgba(1, 1, 1, 0.25);
}

.westaLoginTitle {
  font-size: 36px;
  font-weight: 900;
  font-family: "Pacifico", cursive;
  margin-bottom: 20px;
}

.westaLoginInput {
  width: 300px;
  margin-bottom: 10px;
  padding: 10px 0 10px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #fafafa;
  outline: none;
}

.westaLoginBtn {
  width: 100%;
  padding: 15px 0;
  background-color: skyblue;
  border: none;
  border-radius: 8px;
  color: white;
  opacity: 0.5;
  cursor: default;
}
