.home {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin: 0 auto;
  margin-top: 84px;
  height: calc(100vh - 84px);
  padding-top: 50px;
  max-width: 1280px;
}

.mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 24px;
  width: 100%;
  background-color: black;
  font-size: 24px;
  font-weight: 700;
  color: white;
}

.logo,
.logo:active,
.logo:visited {
  color: white;
}

.avatarBox {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: white;
  cursor: pointer;
  overflow: hidden;
}

.mainListBox {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 24px;
}

.mainListImage {
  width: 100%;
}

.listWrap {
  padding: 12px 0;
}

.titleBox {
  display: flex;
  align-items: baseline;
  gap: 12px;
}

.sectionTitle {
  padding-left: 8px;
  height: max-content;
  border-left: 4px solid black;
  font-size: 24px;
  font-weight: 700;
}

.dateText {
  font-size: 14px;
  color: #a6a5a5;
}

.description {
  margin: 24px 0;
  line-height: 140%;
}

.moveBtn {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 24px;
  padding-bottom: 2px;
  background-color: white;
  border: none;
  float: right;
  cursor: pointer;
}
