.mainNav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

.mainNavList {
  border: 1px solid black;
  padding: 20px 30px;
  border-radius: 10px;
}
