.container {
  position: relative;
  width: fit-content;
}

.canvas {
  position: relative;
  background: #eee;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  border: 10px solid skyblue;
  overflow: hidden;
}

.ball {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0px);
  width: 18px;
  height: 18px;
  border-radius: 100%;
  z-index: 2;
  display: none;
}

.default {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0px);
  width: 18px;
  height: 18px;
  border-radius: 100%;
  z-index: 2;
  animation: none;
}

.active {
  display: block;
  animation-iteration-count: 5, 1;
  animation-delay: 0s, 3s;
  animation-duration: 0.6s, 1s;
  animation-timing-function: ease-in-out, ease;
}

.disappear {
  display: none;
}

.boxWrap {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-37px, 5px);
  z-index: 5;
}

.box {
  width: 30px;
  height: 20px;
  background-color: brown;
  border: 2px solid black;
  transition: all 0.5s ease-in-out;
}

.left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transform: translateX(0);
}

.slideLeft {
  transform: translateX(-15px);
}

.right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: translateX(0);
}

.slideRight {
  transform: translateX(15px);
}

.one {
  background-color: rgb(85, 85, 255);
  transform: translate(-50%, 5px);
  animation-name: movingBall1, laydown1;
  z-index: 3;
}

.two {
  background-color: rgb(255, 107, 107);
  transform: translate(-5px, -5px);
  animation-name: movingBall2, laydown2;
}

.three {
  background-color: rgba(115, 115, 115, 1);
  transform: translate(0px, 0px);
  animation-name: movingBall3, laydown3;
}

.four {
  background-color: rgba(0, 128, 0, 1);
  transform: translate(-15px, -5px);
  animation-name: movingBall4, laydown4;
}

.five {
  background-color: rgb(249, 249, 67);
  transform: translate(-20px, 0px);
  animation-name: movingBall5, laydown5;
}

.six {
  background-color: rgb(255, 107, 107);
  transform: translate(-30px, 0px);
  animation-name: movingBall6, laydown6;
}

.seven {
  background-color: rgba(115, 115, 115, 1);
  transform: translate(-23px, -5px);
  animation-name: movingBall7, laydown7;
  z-index: 0;
}

.eight {
  background-color: rgb(85, 85, 255);
  transform: translate(10px, 0px);
  animation-name: movingBall8, laydown8;
  z-index: 1;
}

.nine {
  background-color: rgba(0, 128, 0, 1);
  transform: translate(5px, -5px);
  animation-name: movingBall9, laydown9;
  z-index: 0;
}

.ten {
  background-color: rgb(249, 249, 67);
  transform: translate(15px, -3px);
  animation-name: movingBall10, laydown10;
  z-index: 0;
}

.eleven {
  background-color: rgb(85, 85, 255);
  transform: translate(-35px, -2px);
  animation-name: movingBall11, laydown11;
  z-index: 1;
}

@keyframes movingBall1 {
  0% {
    transform: translate(-10px, 0px);
  }
  10% {
    transform: translate(0px, -10px);
  }
  25% {
    transform: translate(55px, -73px);
  }
  50% {
    transform: translate(-10px, -133px);
  }
  75% {
    transform: translate(-75px, -73px);
  }
  80% {
    transform: translate(-30px, -30px);
  }
  100% {
    transform: translate(-10px, 0px);
  }
}

@keyframes movingBall2 {
  0% {
    transform: translate(-10px, 0px);
  }
  10% {
    transform: translate(-10px, -10px);
  }
  25% {
    transform: translate(-75px, -73px);
  }
  50% {
    transform: translate(-10px, -133px);
  }
  75% {
    transform: translate(55px, -73px);
  }
  80% {
    transform: translate(10px, -30px);
  }
  100% {
    transform: translate(-10px, 0px);
  }
}

@keyframes movingBall3 {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(-65px, -27px);
  }
  50% {
    transform: translate(57px, -76px);
  }
  75% {
    transform: translate(-65px, -103px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes movingBall4 {
  0% {
    transform: translate(-20px, 0px);
  }
  25% {
    transform: translate(65px, -27px);
  }
  50% {
    transform: translate(-57px, -76px);
  }
  75% {
    transform: translate(65px, -103px);
  }
  100% {
    transform: translate(-20px, 0px);
  }
}

@keyframes movingBall5 {
  0% {
    transform: translate(-20px, 0px);
  }
  15% {
    transform: translate(65px, -27px);
  }
  30% {
    transform: translate(-57px, -76px);
  }
  45% {
    transform: translate(65px, -103px);
  }
  60% {
    transform: translate(-57px, -76px);
  }
  75% {
    transform: translate(65px, -27px);
  }
  100% {
    transform: translate(-20px, 0px);
  }
}

@keyframes movingBall6 {
  0% {
    transform: translate(-10px, 0px);
  }
  14% {
    transform: translate(-40px, -130px);
  }
  28% {
    transform: translate(-40px, 0px);
  }
  42% {
    transform: translate(30px, -130px);
  }
  56% {
    transform: translate(30px, -10px);
  }
  70% {
    transform: translate(-10px, -135px);
  }
  80% {
    transform: translate(-10px, 0px);
  }
  90% {
    transform: translate(-10px, -50px);
  }
  100% {
    transform: translate(-10px, 0px);
  }
}

@keyframes movingBall7 {
  0% {
    transform: translate(-23px, -5px);
  }
  14% {
    transform: translate(40px, -130px);
  }
  28% {
    transform: translate(40px, 0px);
  }
  42% {
    transform: translate(-40px, -130px);
  }
  56% {
    transform: translate(-40px, 0px);
  }
  70% {
    transform: translate(0px, -135px);
  }
  100% {
    transform: translate(-23px, -5px);
  }
}

@keyframes movingBall8 {
  0% {
    transform: translate(10px, 0px);
  }
  12% {
    transform: translate(-70px, -30px);
  }
  24% {
    transform: translate(65px, -60px);
  }
  36% {
    transform: translate(-72px, -90px);
  }
  48% {
    transform: translate(55px, -125px);
  }
  60% {
    transform: translate(-70px, -100px);
  }
  72% {
    transform: translate(60px, -70px);
  }
  84% {
    transform: translate(-75px, -40px);
  }
  100% {
    transform: translate(10px, 0px);
  }
}

@keyframes movingBall9 {
  0% {
    transform: translate(5px, -5px);
  }
  12% {
    transform: translate(65px, -30px);
  }
  24% {
    transform: translate(-77px, -60px);
  }
  36% {
    transform: translate(70px, -100px);
  }
  48% {
    transform: translate(-55px, -125px);
  }
  60% {
    transform: translate(70px, -100px);
  }
  72% {
    transform: translate(-77px, -70px);
  }
  84% {
    transform: translate(70px, -40px);
  }
  100% {
    transform: translate(5px, -5px);
  }
}

@keyframes movingBall10 {
  0% {
    transform: translate(15px, -3px);
  }
  25% {
    transform: translate(15px, -130px);
  }
  50% {
    transform: translate(15px, -3px);
  }
  75% {
    transform: translate(15px, -130px);
  }
  100% {
    transform: translate(15px, -3px);
  }
}

@keyframes movingBall11 {
  0% {
    transform: translate(-35px, -2px);
  }
  25% {
    transform: translate(-35px, -130px);
  }
  50% {
    transform: translate(-35px, -2px);
  }
  75% {
    transform: translate(-35px, -130px);
  }
  100% {
    transform: translate(-35px, -2px);
  }
}

@keyframes laydown1 {
  0% {
    transform: translate(-50%, -5px);
  }
  20% {
    transform: translate(-50%, -40px);
  }
  30% {
    transform: translate(-50%, -40px);
  }
  100% {
    transform: translate(-50%, 0px);
  }
}

@keyframes laydown2 {
  0% {
    transform: translate(-5px, -5px);
  }
  20% {
    transform: translate(-5px, -60px);
  }
  30% {
    transform: translate(-5px, -60px);
  }
  100% {
    transform: translate(-5px, 0px);
  }
}

@keyframes laydown3 {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(20px, -30px);
  }
  30% {
    transform: translate(20px, -30px);
  }
  80% {
    transform: translate(10px, 0px);
  }
  85% {
    transform: translate(5px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes laydown4 {
  0% {
    transform: translate(-15px, -5px);
  }
  20% {
    transform: translate(-20px, -30px);
  }
  30% {
    transform: translate(-20px, -30px);
  }
  80% {
    transform: translate(-20px, 0px);
  }
  85% {
    transform: translate(-15px, 0px);
  }
  100% {
    transform: translate(-15px, -5px);
  }
}

@keyframes laydown5 {
  0% {
    transform: translate(-20px, 0px);
  }
  20% {
    transform: translate(-25px, -35px);
  }
  30% {
    transform: translate(-25px, -35px);
  }
  80% {
    transform: translate(-25px, 0px);
  }
  85% {
    transform: translate(-20px, 0px);
  }
  100% {
    transform: translate(-20px, 0px);
  }
}

@keyframes laydown6 {
  0% {
    transform: translate(-30px, 0px);
  }
  20% {
    transform: translate(-30px, -60px);
  }
  30% {
    transform: translate(-30px, -60px);
  }
  100% {
    transform: translate(-30px, 0px);
  }
}

@keyframes laydown7 {
  0% {
    transform: translate(-23px, -5px);
  }
  20% {
    transform: translate(-23px, -50px);
  }
  30% {
    transform: translate(-23px, -50px);
  }
  100% {
    transform: translate(-23px, -5px);
  }
}

@keyframes laydown8 {
  0% {
    transform: translate(10px, 0px);
  }
  20% {
    transform: translate(8px, -36px);
  }
  30% {
    transform: translate(8px, -36px);
  }
  100% {
    transform: translate(10px, 0px);
  }
}

@keyframes laydown9 {
  0% {
    transform: translate(5px, -5px);
  }
  20% {
    transform: translate(8px, -44px);
  }
  30% {
    transform: translate(8px, -44px);
  }
  100% {
    transform: translate(5px, -5px);
  }
}

@keyframes laydown10 {
  0% {
    transform: translate(15px, -3px);
  }
  20% {
    transform: translate(15px, -44px);
  }
  30% {
    transform: translate(15px, -44px);
  }
  100% {
    transform: translate(15px, -3px);
  }
}

@keyframes laydown11 {
  0% {
    transform: translate(-35px, -2px);
  }
  20% {
    transform: translate(-35px, -40px);
  }
  30% {
    transform: translate(-35px, -40px);
  }
  100% {
    transform: translate(-35px, -2px);
  }
}
